{% extends 'base.html.twig' %}

{% block body %}
    <h1>mode édition</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    <input type="submit" value="Edit" />

    <ul>
        <li>
            <a href="{{ path('av2_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h1><img src="{{ asset('bundles/club/img/signs.png') }}" width="30px" id="fireworks" /> {{ av2.titleAv2 }}</h1>
    <span class="bold">Titre</span>
    {{ form_errors(edit_form.titleAv2) }}
    {{ form_widget(edit_form.titleAv2) }}
    <input type="submit" value="Edit" />

    <div class="container-fluid">
        <div class="row blockGray">
            <div class="row"><!--**************** 2ème bloc *****************-->
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <p>{{ av2.paragraphAv2 }}</p>
                    <span class="bold">Paragraphe</span>
                    {{ form_errors(edit_form.paragraphAv2) }}
                    {{ form_widget(edit_form.paragraphAv2) }}
                    <input type="submit" value="Edit" />
                </div>
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <img src="{{ asset('bundles/club/img/historique.jpg') }}" alt="vieille image" width="100%"/>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
