{% extends 'base.html.twig' %}

{% block body %}

    {% for av2 in av2s %}
        <h1><img src="{{ asset('bundles/club/img/signs.png') }}" width="30px" id="fireworks" /> {{ av2.titleAv2 }}</h1>

    <div class="container-fluid">
        <div class="row blockGray">
            <div class="row"><!--**************** 2ème bloc *****************-->
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <p>{{ av2.paragraphAv2|raw  }}</p>

                </div>
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <img src="{{ vich_uploader_asset(av2, 'image', 'ClubBundle\\Entity\\av2') }}" alt="{{ av2.titleAv2 }}" class="center-block" height="400px"/>
                </div>
            </div>
        </div>
    </div>

        {% endfor %}

{% endblock %}
