{% extends 'base.html.twig' %}


{% block body %}
<h1>{{ supEvenement.title }}</h1>
<p>{{ supEvenement.paragraph }}</p>
</div>
</div>
<div id="carousel-evenement" class="carousel slide center-block" data-ride="carousel">
    <!-- Carousel Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-evenement" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-evenement" data-slide-to="1"></li>
        <li data-target="#carousel-evenement" data-slide-to="2"></li>
        <li data-target="#carousel-evenement" data-slide-to="3"></li>
        <li data-target="#carousel-evenement" data-slide-to="4"></li>
        <li data-target="#carousel-evenement" data-slide-to="5"></li>
        <li data-target="#carousel-evenement" data-slide-to="6"></li>
        <li data-target="#carousel-evenement" data-slide-to="7"></li>
        <li data-target="#carousel-evenement" data-slide-to="8"></li>
        <li data-target="#carousel-evenement" data-slide-to="9"></li>
        <li data-target="#carousel-evenement" data-slide-to="10"></li>
        <li data-target="#carousel-evenement" data-slide-to="11"></li>
        <li data-target="#carousel-evenement" data-slide-to="12"></li>
        <li data-target="#carousel-evenement" data-slide-to="13"></li>
        <li data-target="#carousel-evenement" data-slide-to="14"></li>
        <li data-target="#carousel-evenement" data-slide-to="15"></li>
        <li data-target="#carousel-evenement" data-slide-to="16"></li>
        <li data-target="#carousel-evenement" data-slide-to="17"></li>
        <li data-target="#carousel-evenement" data-slide-to="18"></li>
        <li data-target="#carousel-evenement" data-slide-to="19"></li>
        <li data-target="#carousel-evenement" data-slide-to="20"></li>
        <li data-target="#carousel-evenement" data-slide-to="21"></li>
        <li data-target="#carousel-evenement" data-slide-to="22"></li>
        <li data-target="#carousel-evenement" data-slide-to="23"></li>
        <li data-target="#carousel-evenement" data-slide-to="24"></li>
        <li data-target="#carousel-evenement" data-slide-to="25"></li>
        <li data-target="#carousel-evenement" data-slide-to="26"></li>
        <li data-target="#carousel-evenement" data-slide-to="27"></li>
        <li data-target="#carousel-evenement" data-slide-to="28"></li>
        <li data-target="#carousel-evenement" data-slide-to="29"></li>
        <li data-target="#carousel-evenement" data-slide-to="30"></li>
    </ol>
    <!-- Carousel Wrapper -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{{ vich_uploader_asset(supevenement, 'image', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image2', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image3', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image4', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image5', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image6', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image7', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image8', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image9', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image10', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image11', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image12', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image13', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image14', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image15', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image16', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image17', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image18', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image19', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image20', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image21', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image22', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image23', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image24', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image25', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image26', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image27', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image28', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image29', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ vich_uploader_asset(supevenement, 'image30', 'ClubBundle\\Entity\\SupEvenements') }}" alt="">
        </div>
    </div>

    <!-- Carousel Controls -->
    <a class="left carousel-control" href="#carousel-evenement" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
    </a>
    <a class="right carousel-control" href="#carousel-evenement" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
    </a>

    <a href="{{ path('evsup_edit', { 'id': 1 }) }}">Retour à la page précédente</a>

{% endblock %}