{% extends 'base.html.twig' %}

{% block body %}
    <h1>mode édition</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('club_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

<!-- *********************************************** -->

    <video autoplay loop poster="img/background.jpg" width="100%" height="auto">
        <source src="video/home.webm" />
    </video>
    <div class="container-fluid">
        <div class="row blockGray"><!--******************* 1er bloc ***************-->
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <img src="{{ asset('bundles/club/img/1.jpg') }}" alt="logo" width="100%"/>
            </div>
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <h2>{{ club.blocktitle1 }}</h2>
                <p> {{ club.blockparagraph1|raw }}</p>
            </div>
        </div>
        <div class="row"><!--**************** 2ème bloc *****************-->
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <h2> {{ club.blocktitle2 }} </h2>
                <p>{{ club.blockparagraph2|raw }}</p>
            </div>
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <img src="{{ asset('bundles/club/img/logo_cvl_blanc.jpg') }}" alt="" width="100%"/>
            </div>
        </div>
        <div class="row blockGray"><!--************* 3ème bloc ***************-->
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <img src="{{ asset('bundles/club/img/logo_ara.jpg') }}" alt="" width="100%"/>
            </div>
            <div class="col-xxs-12 col-xs-6 homepageBlock2">
                <h2>{{ club.blocktitle3 }}</h2 >
                <p>{{ club.blockparagraph3|raw }}</p>
            </div>
        </div>
    </div>

{% endblock %}
