{% extends 'base.html.twig' %}

{% block body %}


        {% for rcvl in rcvls %}
            <h1>{{ rcvl.title }}</h1>
            <ul>
                <li>
                    <a href="{{ path('rcvl_show', { 'id': rcvl.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('rcvl_edit', { 'id': rcvl.id }) }}">edit</a>
                </li>
                <li>
                    <a href="{{ path('rcvl_new') }}">Create a new entry</a>
                </li>
            </ul>


            <div class="container-fluid">
                <div class="row blockGray homepageBlock"><!--******************* 1er bloc ***************-->
                    <div class="col-xxs-12 col-xs-6 homepageBlock2">
                        <img src="{{ asset('bundles/club/img/logo_cvl_blanc.jpg') }}" alt="logo" width="100%"/>
                    </div>


                    <div class="col-xxs-12 col-xs-6 homepageBlock2">
                        <h2>{{ rcvl.soustitre }}</h2>

                        <p>{{ rcvl.paragraph }}</p>

                    </div>
                </div>
            </div>

        {% endfor %}
{% endblock %}
