{% extends 'base.html.twig' %}


{% block body %}
    <h1>Mode édition</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <h1>{{ evRcvl.title }}</h1><br>
    <span class="bold">Titre</span>
    {{ form_errors(edit_form.title) }}
    {{ form_widget(edit_form.title) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <br>

    <div class="row center-block row-diners">
        {% for evenement in evenements %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>{{ evenement.title }}</h4>
                        <p>{{ evenement.paragraph|raw }}</p>
                        <br>
                        <a href="{{ path('evenements_edit', { 'id': evenement.id }) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="col-xs-12">
            <div class="thumbnail" id="thumbnail-membre">
                <div class="caption">
                    <h2>Créer un nouvel évènement</h2>
                    {{ form_start(new_form) }}
                    <span class="bold">Nom</span><br>
                    {{ form_errors(new_form.title) }}
                    {{ form_widget(new_form.title) }}
                    <br>
                    <span class="bold">Description</span><br>
                    {{ form_errors(new_form.paragraph) }}
                    {{ form_widget(new_form.paragraph) }}
                    <br><br>
                    <span class="bold">Photos</span><br>

                    <div class="col-xs-4">
                        {{ form_errors(new_form.image) }}
                        {{ form_widget(new_form.image) }}
                        <br><br>
                        {{ form_errors(new_form.image2) }}
                        {{ form_widget(new_form.image2) }}
                        <br><br>
                        {{ form_errors(new_form.image3) }}
                        {{ form_widget(new_form.image3) }}
                        <br><br>
                        {{ form_errors(new_form.image4) }}
                        {{ form_widget(new_form.image4) }}
                        <br><br>
                        {{ form_errors(new_form.image5) }}
                        {{ form_widget(new_form.image5) }}
                        <br><br>
                        {{ form_errors(new_form.image6) }}
                        {{ form_widget(new_form.image6) }}
                        <br><br>
                        {{ form_errors(new_form.image7) }}
                        {{ form_widget(new_form.image7) }}
                        <br><br>
                        {{ form_errors(new_form.image8) }}
                        {{ form_widget(new_form.image8) }}
                        <br><br>
                        {{ form_errors(new_form.image9) }}
                        {{ form_widget(new_form.image9) }}
                        <br><br>
                        {{ form_errors(new_form.image10) }}
                        {{ form_widget(new_form.image10) }}
                        <br><br>
                    </div>
                    <div class="col-xs-4">
                        {{ form_errors(new_form.image11) }}
                        {{ form_widget(new_form.image11) }}
                        <br><br>
                        {{ form_errors(new_form.image12) }}
                        {{ form_widget(new_form.image12) }}
                        <br><br>
                        {{ form_errors(new_form.image13) }}
                        {{ form_widget(new_form.image13) }}
                        <br><br>
                        {{ form_errors(new_form.image14) }}
                        {{ form_widget(new_form.image14) }}
                        <br><br>
                        {{ form_errors(new_form.image15) }}
                        {{ form_widget(new_form.image15) }}
                        <br><br>
                        {{ form_errors(new_form.image16) }}
                        {{ form_widget(new_form.image16) }}
                        <br><br>
                        {{ form_errors(new_form.image17) }}
                        {{ form_widget(new_form.image17) }}
                        <br><br>
                        {{ form_errors(new_form.image18) }}
                        {{ form_widget(new_form.image18) }}
                        <br><br>
                        {{ form_errors(new_form.image19) }}
                        {{ form_widget(new_form.image19) }}
                        <br><br>
                        {{ form_errors(new_form.image20) }}
                        {{ form_widget(new_form.image20) }}
                        <br><br>
                    </div>
                    <div class="col-xs-4">
                        {{ form_errors(new_form.image21) }}
                        {{ form_widget(new_form.image21) }}
                        <br><br>
                        {{ form_errors(new_form.image22) }}
                        {{ form_widget(new_form.image22) }}
                        <br><br>
                        {{ form_errors(new_form.image23) }}
                        {{ form_widget(new_form.image23) }}
                        <br><br>
                        {{ form_errors(new_form.image24) }}
                        {{ form_widget(new_form.image24) }}
                        <br><br>
                        {{ form_errors(new_form.image25) }}
                        {{ form_widget(new_form.image25) }}
                        <br><br>
                        {{ form_errors(new_form.image26) }}
                        {{ form_widget(new_form.image26) }}
                        <br><br>
                        {{ form_errors(new_form.image27) }}
                        {{ form_widget(new_form.image27) }}
                        <br><br>
                        {{ form_errors(new_form.image28) }}
                        {{ form_widget(new_form.image28) }}
                        <br><br>
                        {{ form_errors(new_form.image29) }}
                        {{ form_widget(new_form.image29) }}
                        <br><br>
                        {{ form_errors(new_form.image30) }}
                        {{ form_widget(new_form.image30) }}
                        <br><br>
                    </div>
                    <input type="submit" value="Créer" />
                    {{ form_end(new_form) }}
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('evrcvl_index') }}">Retour à la page précédente</a>

{% endblock %}
