{% extends 'base.html.twig' %}

{% block body %}



    {% for club_sup in club_sups %}

    <h1>club supplémentaire</h1>
    <ul>
        <li>
            <a href="{{ path('club_sup_show', { 'id': club_sup.id }) }}">show</a>
        </li>
        <li>
            <a href="{{ path('club_sup_edit', { 'id': club_sup.id }) }}">edit</a>
        </li>
        <li>
            <a href="{{ path('club_sup_new') }}">Create a new entry</a>
        </li>
    </ul>

        <div class="container-fluid">
            <div class="row blockGray homepageBlock"><!--******************* 1er bloc ***************-->
                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <img src="{{ asset('') }}" alt="" width="100%"/>
                </div>


                <div class="col-xxs-12 col-xs-6 homepageBlock2">
                    <h2></h2>

                    <p>{{ club_sup.paragraph }}</p>

                </div>
            </div>
        </div>




        {% endfor %}
{% endblock %}
