{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier un évènement</h1>

    {{ form_start(edit_form) }}
    <span class="bold">Titre</span><br>
    {{ form_errors(edit_form.title) }}
    {{ form_widget(edit_form.title) }}
    <br><br>
    <span class="bold">Description</span><br>
    {{ form_errors(edit_form.paragraph) }}
    {{ form_widget(edit_form.paragraph) }}
    <br><br>
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
    <br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
    <br>
    <a href="{{ path('evara_edit', { 'id': 1 }) }}">Retour à la page précédente</a>
    <br>
{% endblock %}
