{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ara</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ara.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ara.title }}</td>
            </tr>
            <tr>
                <th>Soustitre</th>
                <td>{{ ara.soustitre }}</td>
            </tr>
            <tr>
                <th>Paragraph</th>
                <td>{{ ara.paragraph }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ara_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ara_edit', { 'id': ara.id }) }}">Edit</a>
        </li>
        <li>
                <img src="{{ app.request.basepath }}/uploads/{{ clubdelopinion.image }}">
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}

