{% extends 'base.html.twig' %}


{% block body %}
    <h1>Modifier un évènement</h1>

    {{ form_start(edit_form) }}
    <span class="bold">Titre</span><br>
    {{ form_errors(edit_form.title) }}
    {{ form_widget(edit_form.title) }}
    <br><br>
    <span class="bold">Description</span><br>
    {{ form_errors(edit_form.paragraph) }}
    {{ form_widget(edit_form.paragraph) }}
    <br><br>
    
<div class="col-xs-12">
    <div class="col-xxs-12 col-xs-4">
        <img src="{{ vich_uploader_asset(evenement, 'image', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image) }}
        {{ form_widget(edit_form.image) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image2', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image2) }}
        {{ form_widget(edit_form.image2) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image3', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image3) }}
        {{ form_widget(edit_form.image3) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image4', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image4) }}
        {{ form_widget(edit_form.image4) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image5', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image5) }}
        {{ form_widget(edit_form.image5) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image6', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image6) }}
        {{ form_widget(edit_form.image6) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image7', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image7) }}
        {{ form_widget(edit_form.image7) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image8', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image8) }}
        {{ form_widget(edit_form.image8) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image9', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image9) }}
        {{ form_widget(edit_form.image9) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image10', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image10) }}
        {{ form_widget(edit_form.image10) }}
        <br><br>
    </div>
    <div class="col-xxs-12 col-xs-4">
        <img src="{{ vich_uploader_asset(evenement, 'image11', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image11) }}
        {{ form_widget(edit_form.image11) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image12', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image12) }}
        {{ form_widget(edit_form.image12) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image13', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image13) }}
        {{ form_widget(edit_form.image13) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image14', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image14) }}
        {{ form_widget(edit_form.image14) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image15', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image15) }}
        {{ form_widget(edit_form.image15) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image16', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image16) }}
        {{ form_widget(edit_form.image16) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image17', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image17) }}
        {{ form_widget(edit_form.image17) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image18', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image18) }}
        {{ form_widget(edit_form.image18) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image19', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image19) }}
        {{ form_widget(edit_form.image19) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image20', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image20) }}
        {{ form_widget(edit_form.image20) }}
        <br><br>
    </div>
    <div class="col-xxs-12 col-xs-4">
        <img src="{{ vich_uploader_asset(evenement, 'image21', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image21) }}
        {{ form_widget(edit_form.image21) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image22', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image22) }}
        {{ form_widget(edit_form.image22) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image23', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image23) }}
        {{ form_widget(edit_form.image23) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image24', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image24) }}
        {{ form_widget(edit_form.image24) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image25', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image25) }}
        {{ form_widget(edit_form.image25) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image26', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image26) }}
        {{ form_widget(edit_form.image26) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image27', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image27) }}
        {{ form_widget(edit_form.image27) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image28', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image28) }}
        {{ form_widget(edit_form.image28) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image29', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image29) }}
        {{ form_widget(edit_form.image29) }}
        <br><br>
        <img src="{{ vich_uploader_asset(evenement, 'image30', 'ClubBundle\\Entity\\Evenements') }}" width="100%">
        {{ form_errors(edit_form.image30) }}
        {{ form_widget(edit_form.image30) }}
        <br><br>
    </div>
    </div>
    <br><br>
    <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
    <br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
    <br>
    <a href="{{ path('evrcvl_edit', { 'id': 1 }) }}" class="lienRouge">Retour à la page précédente</a>
    <br>
{% endblock %}
