{% extends 'base.html.twig' %}

{% block body %}
    <h1>av3 list</h1>


        {% for av3 in av3s %}
            <h1><img src="{{ asset('') }}" width="30px" id="" /> {{ av3.titleAv3 }}</h1>

            <ul>
                <li>
                    <a href="{{ path('av3_show', { 'id': av3.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('av3_edit', { 'id': av3.id }) }}">edit</a>
                </li>
                <li>
                    <a href="{{ path('av3_new') }}">Create a new entry</a>
                </li>
            </ul>



            <div class="container-fluid">
                <div class="row blockGray">
                    <div class="row"><!--**************** 2ème bloc *****************-->
                        <div class="col-xs-6 homepageBlock2">
                            <p>{{ av3.paragraphAv3 }}</p>

                        </div>
                        <div class="col-xs-6 homepageBlock2">
                            <img src="{{ asset('') }}" alt="" width="100%"/>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

{% endblock %}